body {
    font-family : Arial, Helvetica, sans-serif;
}
i {
    color: red;
}

#carte>* {
    position: absolute;
}

.popup {
    visibility: hidden;
    opacity: 0;
}

.popup:target {
    visibility: visible;
    opacity: 1;
}
